#top{
    font-family: Verdana, sans-serif;
}
span{
    color:#ffc200;
}

#bottom{
    font-family: Merriweather, Georgia, serif;
}

#lower{
    font-family: Georgia, serif; color: #666; font-size: 14px; font-style: italic;
}